// News overview
.view-sharing-knowledge,
.grid-container-view {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: #{$screen-tablet}) {
    margin-bottom: 90px;
  }

  .col-md-3 {
    padding: 0 20px 0 0;
  }
  h2 {
    font-size: 27px;
    padding: 10px 0 30px;
    margin-bottom: 0;
    border-top: 2px solid $dark-blue-01;

    @media (min-width: #{$screen-tablet}) {
      font-size: 45px;
      padding: 15px 0 45px;
      margin-bottom: 35px;
    }
  }

  .field--type-image {
    img {
      @media (min-width: #{$screen-tablet}) {
        margin-bottom: 20px;
      }
    }
  }

  .view-content {
    @media (min-width: #{$screen-tablet}) {
      margin: 0 -20px !important;
    }
  }

  .views-row {
    position: relative;
    border-bottom: 1px solid $cold-grey-03;
    padding: 15px 0 10px;

    @media (min-width: #{$screen-tablet}) {
      border-bottom: none;
      border-right: 1px solid $cold-grey-03;
      padding: 0 20px 30px;
      margin: 30px 0;
    }

    @media (min-width: #{$screen-desktop}) {
      display: flex;
    }

    &:before {
      @media (min-width: #{$screen-tablet}) {
        content: "";
        width: 100%;
        height: 1px;
        background: $cold-grey-03;
        position: absolute;
        top: -30px;
        left: 0;
      }
    }

    &:last-child {
      border-right: none;
      border-bottom: none;
      padding-bottom: 0;
    }

    &:nth-child(3) {
      border-right: none;
    }

    &:first-child,
    &:nth-child(4) {
      &:before {
        @media (min-width: #{$screen-tablet}) {
          left: 20px;
        }
      }
    }

    &:nth-child(3),
    &:nth-child(6) {
      &:before {
        @media (min-width: #{$screen-tablet}) {
          right: 15px;
        }
      }
    }

    .node--type-blog-post,
    .node--type-news {
      &.no-image-teaser {
        height: 100%;
        padding: 15px 0 10px;

        @media (min-width: #{$screen-tablet}) {
          background-color: #F1F4F7;
          padding: 35px 20px;
        }

        &:last-child {
          padding-bottom: 10px;

          @media (min-width: #{$screen-tablet}) {
            padding-bottom: 20px;
          }
        }

        h2 {
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
          margin-bottom: 10px;

          @media (min-width: #{$screen-tablet}) {
            font-size: 35px;
            font-weight: 400;
            line-height: 1.2em;
            margin-bottom: 20px;
          }
        }

        .field--name-body {
          margin-right: 0;

          @media (min-width: #{$screen-tablet}) {
            color: $soft-blue-01;
          }
        }
      }

      .content_link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        float: left;
        text-indent: -9999px;
      }

      &:hover {
        h2 {
          a {
            text-decoration: underline;
          }
        }

        div.btn-link-blue-s {
          a {
            padding-right: 20px;
          }
        }
      }
    }

    .node--view-mode-teaser-list {
      .node__content {
        margin-top: 0;
        @media (max-width: #{$screen-tablet}) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      .node__meta {
        color: $soft-blue-02;
        font-size: 14px;
        font-style: normal;
        margin-bottom: 10px;
      }

      .field--type-image {
        margin: 0;
      }

      .field--name-field-image {
        @media (max-width: #{$screen-tablet}) {
          flex: 1 0 30%;
          order: 2;
          text-align: right;

          img {
            max-height: 70px;
            width: auto;
          }
        }
      }

      h2 {
        font-size: 18px;
        line-height: 26px;
        padding: 0;
        border: none;
        margin-bottom: 10px;

        @media (max-width: #{$screen-tablet}) {
          flex: 1 0 70%;
          order: 1;
        }

        @media (min-width: #{$screen-tablet}) {
          font-size: 23px;
          line-height: 1.6rem;
          margin-bottom: 15px;
        }
      }

      .field--name-body {
        color: $soft-blue-02;
        padding-bottom: 60px;
        font-size: 16px;

        @media (max-width: #{$screen-tablet}) {
          color: $soft-blue-02;
          flex: 1 0 70%;
          order: 3;
          font-size: 14px;
          padding-bottom: 0;
          margin-right: 30%;
        }

        div.btn-link-blue-s {
          display: none;
          position: absolute;
          bottom: 10px;
          background: none;
          padding-right: 0;

          @media (min-width: #{$screen-tablet}) {
            display: block;
          }

          &:hover,
          &:focus {
            padding-right: 0;
          }
        }
      }

      &:hover {
        .field--name-title {
          h2 {
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// News detailpage
body.node--type-news {
  .main-content {
    padding: 0;
  }

  #block-clarin-bootstrap-breadcrumbs {
    .container {
      padding: 0;
    }
  }

  #block-clarin-bootstrap-page-title {
    width: 100%;

    @media (min-width: #{$screen-tablet}) {
      -webkit-box-flex: 0;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      padding-right: 40px;
    }

    h1 {
      line-height: 57px;
      margin-top: 50px;

      @media (max-width: #{$screen-tablet}) {
        font-size: 30px;
        line-height: 35px;
        margin-top: 45px;
      }
    }
  }
}

article.node--type-news {
  position: relative;
  font-size: 16px;
  line-height: 25px;

  @media (min-width: #{$screen-tablet}) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: #{$screen-tablet}) {
    display: flex;
    flex-flow: wrap;
  }

  header {
    width: 100%;

    @media (min-width: #{$screen-tablet}) {
      -webkit-box-flex: 0;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      padding-right: 40px;
    }

    @media (max-width: #{$screen-tablet}) {
      order: 1;
    }

    em {
      color: $soft-blue-02;
      font-size: 14px;
      line-height: 22px;
      font-style: normal;
    }
  }

  .field--name-body {
    ul {
      padding: 0;

      li {
        display: flex;
        align-items: baseline;
        list-style-type: none;
        line-height: 25px;
        padding-bottom: 15px;

        @media (min-width: #{$screen-tablet}) {
          align-items: center;
          line-height: 30px;
        }

        &:last-child {
          padding-bottom: 0;
        }

        &:before {
          display: inline-block;
          content: '';
          width: 9px;
          height: 9px;
          background: $blue;
          margin-right: 20px;
        }
      }
    }

    ol {
      counter-reset: my-badass-counter;
      padding: 0;

      li {
        display: flex;
        align-items: baseline;
        list-style-type: none;
        line-height: 25px;
        padding-bottom: 15px;

        @media (min-width: #{$screen-tablet}) {
          align-items: center;
          line-height: 30px;
        }

        &:last-child {
          padding-bottom: 0;
        }

        &:before {
          width: 9px;
          content: counter(my-badass-counter);
          counter-increment: my-badass-counter;
          margin-right: 20px;
        }
      }
    }

    h2 {
      font-size: 23px;
      margin-bottom: 20px;

      @media (min-width: #{$screen-tablet}) {
        font-size: 30px;
      }
    }

    h3 {
      font-size: 16px;
      margin-bottom: 10px;

      @media (min-width: #{$screen-tablet}) {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    blockquote {
      font-size: 23px;
      line-height: 35px;
      border-top: 3px solid $blue;
      border-left: none;
      padding-top: 15px;
      padding-left: 0;
      padding-right: 35px;

      @media (min-width: #{$screen-tablet}) {
        font-size: 35px;
        line-height: 50px;
        padding-top: 20px;
        padding-right: 0;
      }
    }
  }

  .sidebar {
    padding-right: 0;
    padding-left: 0;

    @media (min-width: #{$screen-tablet}) {
      padding-left: 40px;
    }

    @media (max-width: #{$screen-tablet}) {
      order: 2;

      &.more-link {
        order: 3;
      }
    }
  }

  .toc {
    margin-top: 50px;

    @media (min-width: #{$screen-tablet}) {
      margin-top: -80px;
    }

    h2 {
      color: #6A7A88;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      padding: 0;
      margin: 0 0 20px;
      border: none;
      text-shadow: none;
      text-transform: uppercase;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;

        &.active {
          a {
            color: $dark-blue-01;
            font-weight: 700;
            border-left: 2px solid $dark-blue-01;
          }
        }

        a {
          display: inline-block;
          font-size: 16px;
          line-height: 30px;
          color: #153D57;
          border-left: 2px solid #EAEAEA;
          padding: 6px 0 6px 20px;

          &:hover,
          &:focus {
            text-decoration: none;
            color: $dark-blue-01;
            font-weight: 700;
            border-left: 2px solid $dark-blue-01;
          }
        }
      }
    }
  }

  // See also links
  .more-links {
    margin-top: 50px;

    @media (min-width: #{$screen-tablet}) {
      margin-top: -80px;
    }

    h2 {
      font-size: 30px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 25px;
      border-bottom: none;
      padding: 0;
      text-shadow: none;
    }

    .field__item {
      padding: 10px 0;
      border-bottom: 1px solid rgba(0,0,0,0.11);

      &:last-child {
        border-bottom: none;
      }
    }

    a {
      background: url(../images/short-arrow-right-blue.svg) no-repeat right center;
      background-size: 9px;
      padding-right: 20px;
    }
  }
}

div.node--type-news {
  padding-right: 0;
  padding-left: 0;
  margin-top: 30px;
  width: 100%;

  @media (min-width: #{$screen-tablet}) {
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding-right: 40px;
    margin-top: 55px;
  }

  @media (max-width: #{$screen-tablet}) {
    order: 3;
  }
}

// Teaser small list
.block-views-blockteaser-small-blocks-block-1 {
  position: relative;
  margin-bottom: 35px;

  .col-md-3 {
    padding: 0 20px 0 0;
  }
  h2 {
    font-size: 27px;
    padding: 10px 0 30px;
    margin-bottom: 0;
    border-top: 2px solid $dark-blue-01;
    border-bottom: 1px solid $cold-grey-03;

    @media (min-width: #{$screen-tablet}) {
      font-size: 45px;
      padding: 15px 0 55px;
      margin-bottom: 35px;
    }
  }
  .more-link {
    position: absolute;
    top: 25px;
    right: 0;
  }
  .views-row {
    border-bottom: 1px solid $cold-grey-03;
    padding: 25px 0 0;

    @media (min-width: #{$screen-tablet}) {
      border-bottom: none;
      border-right: 1px solid $cold-grey-03;
      padding: 0 20px;
    }

    &:first-child {
      padding: 0;

      @media (min-width: #{$screen-tablet}) {
        padding: 0 20px 0 0;
      }
    }

    &:last-child {
      display: none;
      border-right: 0;
      @media (min-width: #{$screen-tablet}) {
        display: block;
        padding: 0 0 0 20px;
      }
    }

    .node--view-mode-teaser-list-small {
      .node__content {
        margin-top: 0;
        margin-bottom: 20px;
      }

      .node__meta {
        color: $soft-blue-02;
        margin-bottom: 5px;
      }

      .field--name-created {
        color: $soft-blue-02;
        font-size: 14px;
        font-style: normal;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 18px;
        line-height: 1.6rem;
        padding: 0;
        border: none;
        margin-bottom: 0;
        margin-top: 5px;
      }
    }
  }
}

// Teaser list
.block-views-blockteaser-list-block-1 {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: #{$screen-tablet}) {
    margin-bottom: 90px;
  }

  .col-md-3 {
    padding: 0 20px 0 0;
  }
  h2 {
    font-size: 27px;
    padding: 10px 0 30px;
    margin-bottom: 0;
    border-top: 2px solid $dark-blue-01;

    @media (min-width: #{$screen-tablet}) {
      font-size: 45px;
      padding: 15px 0 45px;
      margin-bottom: 35px;
    }
  }

  .field--type-image {
    img {
      @media (min-width: #{$screen-tablet}) {
        margin-bottom: 20px;
      }
    }
  }

  .view-content {
    @media (min-width: #{$screen-tablet}) {
      margin: 0 -20px !important;
    }
  }

  .views-row {
    position: relative;
    border-bottom: 1px solid $cold-grey-03;
    padding: 15px 0 10px;

    @media (min-width: #{$screen-tablet}) {
      border-bottom: none;
      border-right: 1px solid $cold-grey-03;
      padding: 0 20px 30px;
    }

    @media (min-width: #{$screen-desktop}) {
      display: flex;
    }

    &:last-child {
      border-right: none;
      padding-bottom: 0;
      border-bottom: none;
    }

    .node--view-mode-teaser-list {
      &.no-image-teaser {
        height: 100%;
        padding: 15px 0 10px;

        @media (min-width: #{$screen-tablet}) {
          background-color: #F1F4F7;
          padding: 35px 20px;
        }

        &:last-child {
          padding-bottom: 10px;

          @media (min-width: #{$screen-tablet}) {
            padding-bottom: 20px;
          }
        }

        h2 {
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
          margin-bottom: 10px;

          @media (min-width: #{$screen-tablet}) {
            font-size: 35px;
            font-weight: 400;
            line-height: 1.2em;
            margin-bottom: 20px;
          }
        }

        .field--name-body {
          margin-right: 0;

          @media (min-width: #{$screen-tablet}) {
            color: $soft-blue-01;
          }
        }
      }
      .node__content {
        margin-top: 0;
        @media (max-width: #{$screen-tablet}) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      .node__meta {
        color: $soft-blue-02;
        font-size: 14px;
        font-style: normal;
        margin-bottom: 10px;
      }

      .field--type-image {
        margin: 0;
      }

      .field--name-field-image {
        @media (max-width: #{$screen-tablet}) {
          flex: 1 0 30%;
          order: 2;
          text-align: right;

          img {
            max-height: 70px;
            width: auto;
          }
        }
      }

      h2 {
        font-size: 18px;
        line-height: 26px;
        padding: 0;
        border: none;
        margin-bottom: 10px;

        @media (max-width: #{$screen-tablet}) {
          flex: 1 0 70%;
          order: 1;
        }

        @media (min-width: #{$screen-tablet}) {
          font-size: 23px;
          line-height: 1.6rem;
          margin-bottom: 15px;
        }
      }

      .field--name-body {
        position: relative;
        color: $soft-blue-02;
        padding-bottom: 60px;
        font-size: 16px;

        @media (max-width: #{$screen-tablet}) {
          color: $soft-blue-02;
          flex: 1 0 70%;
          order: 3;
          font-size: 14px;
          padding-bottom: 0;
          margin-right: 30%;
        }

        div.btn-link-blue-s {
          display: none;
          position: absolute;
          bottom: 10px;
          background: none;
          padding-right: 0;

          @media (min-width: #{$screen-tablet}) {
            display: block;
          }

          &:hover,
          &:focus {
            padding-right: 0;
          }
        }
      }

      .content_link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        float: left;
        text-indent: -9999px;
      }

      &:hover {
        h2 {
          a {
            text-decoration: underline;
          }
        }

        div.btn-link-blue-s {
          a {
            padding-right: 20px;
          }
        }
      }
    }
  }
}

// Member grid
.paragraph--type--consortia-list {
  padding: 35px 0 25px;

  @media (min-width: #{$screen-tablet}) {
    padding: 70px 0 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #01243E;
    padding-bottom: 15px;

    h2 {
      font-size: 27px;
      line-height: 33px;
      margin: 10px 0 0;

      @media (min-width: #{$screen-tablet}) {
        font-size: 47px;
        line-height: 90px;
        margin: 0;
      }
    }
  }

  .field--name-field-consortia-items {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .link {
    border-top: 1px solid $cold-grey-03;
    margin-top: 35px;
    padding-top: 10px;
  }
}

.node--type-consortia {
  width: 160px;
  margin-top: 35px;
  border-top: 1px solid $cold-grey-03;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 374px)
  and (-webkit-min-device-pixel-ratio: 2) {
    width: 140px;
  }

  @media (min-width: #{$screen-tablet}) {
    width: 190px;
    margin-top: 55px;
  }

  h2 {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0 0;
  }

  .field--name-field-link {
    a {
      color: $blue;
      font-size: 14px;
      line-height: 15px;
      font-weight: 600;
    }
  }
}