{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
<td{{ attributes.addClass(classes) }}>
  {%- for item in items -%}

    {% trans %} {% endtrans %} {{ item.content }}
  {%- endfor -%}
</td>
