/* VARIABLES */

// Colors
$blue: #0273CB;
$dark-blue-01: #052D4D;
$dark-blue-02: #10436B;
$soft-blue-01: #415D71;
$soft-blue-02: #5A778D;
$white: #FFFFFF;
$black: #000000;
$accent-light: #FFFFFF;
$accent-dark: $blue;
$primary-light: #FFFFFF;
$primary-dark: $blue;
$primary-shade: $blue;
// Greys
$cold-grey-01: #C0C9D6;
$cold-grey-02: #C0CAD2;
$cold-grey-03: #DAE1E6;
$subtle-grey-01: #E1E5EA;
$subtle-grey-02: #F4F6F9;
// Brand colors
$brand-primary: $blue;
$brand-success: #28A745;
$brand-warning: #FFC107;
$brand-danger: #DC3545;
$brand-info: #17A2B8;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: #052D4D;
$inverse-bg: $black;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $blue;
$link-decoration: none;
$link-hover-color: #153D57;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;
$phone:                      480px;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;
$tablet:                     768px;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;
$desktop:                    992px;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;
$desktop-large:              1200px;

$screen-xl:                  1500px;

$screen-xl-custom:           1440px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);