.faq-answer {
  border-left: 1px solid rgb(0 0 0 / 15%);
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 10px;

  a {
    color: $blue;
  }

  .text-formatted > p:last-child {
    margin-bottom: 0;
  }
}

.faq-question {
  font-size: 19px;
  font-weight: 400;
  padding-left: 0;
  padding-top: 20px;

  @media (min-width: #{$screen-desktop}) {
    padding-top: 15px;
  }

  span {
    align-items: baseline;
    display: flex;

    a {
      flex: 1;
    }

    &::before {
      background: url('../images/arrow-down-blue.svg') no-repeat center center;
      border: 0;
      content: '';
      height: 14px;
      transition: transform 200ms;
      vertical-align: middle;
      width: 30px;
    }
  }

  &.faq-qa-visible {
    span::before {
      transform: rotate(180deg);
    }
  }
}
