@media all and (width >= 560px) {
  .node .field--type-image {
    float: unset;
  }
}

.node--type-k-centre {
  .field {
    padding-bottom: 0.5rem;
  }

  .field__label {
    display: contents;
    float: left;
    font-weight: bold;
  }

  .field--label-inline {
    .field__label {
      display: inline;
      padding-right: 0.5rem;

      &::after {
        content: ":";
      }
    }

    .field__items {
      display: inline;

      .field__item {
        &::after {
          content: ",";
        }

        &:last-child::after {
          content: ".";
        }
      }
    }
  }

  .field.field--name-field-hosted-by-list {
    counter-reset: list;

    .field__item::before {
      content: "(" counter(list) ") ";
      counter-increment: list;
    }
  }
}
