@media all and (width >= 560px) {
  .node .field--type-image {
    float: unset;
  }
}

.node--type-k-centre-profile, .node--type-clarin-centre {
  .field:not(.field--name-field-k-centre-website-url) {
    padding-bottom: 0.625rem;

    p {
      margin: 0;
    }
  }

  .field__label {
    display: contents;
    float: left;
    font-weight: bold;

    &::after {
        content: ":";
      }
  }

  .field--label-inline {
    .field__label {
      display: inline;
      padding-right: 0.2rem;
    }

    .field__items {
      display: inline;

      .field__item {
        &::after {
          content: ",";
        }

        &:last-child::after {
          content: "";
        }
      }
    }
  }

  .field.field--name-field-hosted-by {
    counter-reset: list;

    .field__item::before {
      content: "(" counter(list) ") ";
      counter-increment: list;
    }
  }

  .field.field--name-field-name,
  .field.field--name-field-k-centre-full-name {
    font-size: $h2-font-size-h2;
    font-weight: 700;

    @media (max-width: #{$screen-md-max}) {
      font-size: $h3-font-size-h3;
    }

    @media (max-width: #{$screen-phone}) {
      font-size: $h4-font-size-h4;
    }
  }

  .field.field--name-field-url,
  .field.field--name-field-website-url {
    font-size: $h3-font-size-h3;
    padding-bottom: 1.625rem;
    padding-left: 0.625rem;
  }

  .field.field--name-field-consortium,
  .field.field--name-field-consortium-url {
    display: inline-block;
  }
}

.node--type-clarin-centre {
  .field--name-field-location-coordinates .field__label {
    display: block;
    line-height: 0; /* Collapse the original line */
    text-indent: -9999px;

    &::after {
      content: "Hosted by:";
      display: block;
      line-height: 3.126;
      text-indent: 0;
    }
  }

  .field--name-field-link-to-centre-registry, .field--name-field-location-coordinates {
    a {
      color: $blue;
      text-decoration: underline;
    }
  }
}

.node--type-event {
  .field.field--name-field-address.field--type-address {
    background: $subtle-grey-01;
    margin: 1rem 0 0;
    padding: .5rem;

    .field__label {
      font-weight: bold;
    }  
  }
}

@media (min-width: #{$screen-sm-min}) {
  .node--type-clarin-centre {
    .field--name-field-administrative-contact, .field--name-field-technical-contact,
    .field--name-field-monitoring-contacts {
      display: inline-block;
      padding-right: 2rem;
      padding-top: 2rem;
      vertical-align: top;
      width: 30%;
    }

    .field--name-field-working-unit {
      margin-top: 3rem;
    }

    .field--name-field-address {
      margin-bottom: 5rem;
    }

    .field--name-field-description::after {
      content: unset;
    }
  }
}

figure.align-left {
    margin: 0 1rem 0 0;;
}
