.node--type-webform {
    .captcha__element {
        .input-group-prepend {
            flex-grow: 0.07;

            .field-prefix {
                padding-top: 1.3rem;
            }
        }

        label {
            padding-top: 3px;
        }
    }
}